<div class="container mt-4">
  <div class="row">
    <div class="col-md-4" *ngFor="let item of items">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{ item.title }}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{ item.subtitle }}</h6>
          <p class="card-text">{{ item.description }}</p>
          <div class="d-flex justify-content-between">
            <a href="#" class="btn btn-primary" (click)="openInIframe($event, item.link)">Visualizar nota</a>
            <div>
              <button class="btn btn-success me-2">
                <i class="bi bi-check"></i>
              </button>
              <button class="btn btn-danger">
                <i class="bi bi-x"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-modal [url]="iframeUrl" *ngIf="showModal" (closeModalEvent)="closeModal()"></app-modal>

