<div class="container mt-4">
  <div class="list-group">
    <div *ngFor="let travel of travels" class="list-group-item" (click)="toggleAccordion(travel.id)">
      <div class="d-flex justify-content-between align-items-center">
        <div>
          {{ travel.name }}
        </div>
        <div class="d-flex align-items-center">
          <div class="text-muted dates me-2">
            {{ travel.startDate }} - {{ travel.endDate }}
          </div>
          <span [ngClass]="{'rotate': isActive(travel.id)}" class="rotate-icon">&#x25BC;</span>
        </div>
      </div>
      <div *ngIf="isActive(travel.id)" class="accordion mt-2" (click)="preventCollapse($event)">
        <div class="accordion-item">
          <div class="accordion-body">
            <ul class="list-group">
              <li *ngFor="let employee of travel.employees; let i = index" class="list-group-item d-flex justify-content-between align-items-center">
                <span>Funcionário: {{ employee.name }}</span>
                <div class="d-flex align-items-center">
                  <span [ngClass]="{'status-analisado': employee.status === 'analisado', 'status-para-analise': employee.status === 'para análise'}" class="status-label">
                    {{ employee.status }}
                  </span>
                  <button class="btn analyze-button ms-2" (click)="analyzeExpense(travel.id, employee.id)">Analisar Gastos</button>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
